<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    {% if page.cover %}
      <div class="blog-cover" style="background-image:url({{page.cover}});">
    {% else %}
      <div class="blog-cover" style="background-image:url(http://static1.squarespace.com/static/54db2500e4b06f24f8c5a607/t/54dbbfc5e4b03442c79b422e/1423687627142/Start+up+Party.jpeg?format=2500w);">
    {% endif %}
    </div>
    {% if page.cover_credit %}
      <span class="blog-cover-credit">Credit: Mother</span>
    {% endif %}
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
